<%= form_with(model: current_member) do |form| %>
  <% if current_member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(current_member.errors.count, "error") %> prohibited this current_member from being saved:</h2>

      <ul>
        <% current_member.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :memberID, "Member ID" %>
    <%= form.number_field :memberID %>
  </div>

  <div class="field">
    <%= form.label :name, "Name"%>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :email, "Email" %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :Admin, "Admin" %>
    <%= form.check_box :isAdmin %>
  </div>

  <div class="field">
    <%= form.label :Alumni, "Alumni" %>
    <%= form.check_box :isAlumni %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
