<p id="notice"><%= notice %></p>

<%= link_to "Sign Out", destroy_current_member_session_path %>
<%= current_current_member.name %>

<center><h1>Current Members</h1></center>

<center>
<table>
  <thead>
    <tr>
      <th>Member ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Admin Status</th>
      <th>Alumni Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>
</center>

<center>
  <tbody>
    <% @current_members.each do |current_member| %>
      <tr>
        <td><%= current_member.memberID %></td>
        <td><%= current_member.name %></td>
        <td><%= current_member.email %></td>
        <td><%= current_member.isAdmin %></td>
        <td><%= current_member.isAlumni %></td>
        <td><%= link_to 'View Member Info', current_member %></td>
        <td><%= link_to 'Update Member Info', edit_current_member_path(current_member) %></td>
        <td><%= link_to 'Remove Member', current_member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</center>


<br>
<center>
<%= link_to 'Add New Member', new_current_member_path %>
</center>

<br>

<center>
<%= link_to 'View Member Organizations', member_orgs_path %>
</center>

<br>

<center>
<%= link_to 'Add Organization Info', new_member_org_path %>
</center>

<br>




