<p id="notice"><%= notice %></p>

<%= link_to "Sign Out", destroy_current_member_session_path %>
<%= current_current_member.name %>

<h1>Current Members</h1>

<%= render 'current_members/search_form.html.erb' %>

<center>
<table class="styled-table">
  <thead>
    <tr>
      <th><%= sort_link(@q, :name, "Name", {default_order: :asc}, {class: "text-white"}) %></th>
      <th><%= sort_link(@q, :email, "Email", {default_order: :asc}, {class: "text-white"}) %></th>
      <th>Admin Status</th>
      <th>Alumni Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>
</center>

<center>
  <tbody>
    <% @current_members.each do |current_member| %>
      <tr>
        <td><%= current_member.name %></td>
        <td><%= current_member.email %></td>
        <% if current_member.isAdmin %>
          <td><i class="far fa-check fa-2x"></i></td>
        <%else%>
          <td><i class="far fa-times fa-2x"></i></td>
        <%end%>
        <% if current_member.isAlumni %>
        <td><i class="far fa-check fa-2x"></i></td>
      <%else%>
        <td><i class="far fa-times fa-2x"></i></td>
      <%end%>
        <td><%= link_to 'View', current_member, class: "c-button c-button_maroon-ghost-reverse" %></td>
        <% if current_current_member.isAdmin %>
          <td><%= link_to 'Update', edit_current_member_path(current_member), class: "c-button c-button_maroon-ghost-reverse" %></td>
          <td><%= link_to 'Delete', current_member, method: :delete, data: { confirm: 'Are you sure?' }, class: "c-button c-delete" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</center>

<% if current_current_member.isAdmin %>
  <br>
  <center>
  <%= link_to "Add New Member", new_current_member_path, class: "c-button c-button_maroon-ghost-reverse" %>
  </center>

<% end %>

<br>

<script src="https://kit.fontawesome.com/08f62176a8.js" crossorigin="anonymous"></script>