<p id="notice"><%= notice %></p>

<center><h1>Organizations Our Members Are a Part of</h1></center>

<center><p>Here is a list of members and the organizations they are a part of</p></center>

<center>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Organizations</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @member_orgs.each do |member_org| %>
      <tr>
        <td><%= CurrentMember.where(memberID: member_orgs.memberID).last.name %></td>
        <td><%= CurrentMember.where(memberID: member_orgs.memberID).last.email %></td>
        <td><%= Organization.where(organizationID: member_orgs.organizationID).last.name %></td>
        <td><%= member_org.organizationID %></td>
        <td><%= link_to 'Show', member_org %></td>
        <td><%= link_to 'Edit', edit_member_org_path(member_org) %></td>
        <td><%= link_to 'Destroy', member_org, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</center>

<br>

<center>
<%= link_to 'Add a Member to an Organization', new_member_org_path %>
</center>

<br>

<center>
<%= link_to 'Current Members (Officer View)', current_members_path %>
</center>

<br>

<center>
<%= link_to 'View Organizations', organizations_path %>
</center>