<p id="notice"><%= notice %></p>

<h1>Organization Lists</h1>

<table>
  <thead>
    <tr>
      <th>Orglistid</th>
      <th>Orgid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @organization_lists.each do |organization_list| %>
      <tr>
        <td><%= organization_list.orgListID %></td>
        <td><%= organization_list.orgID %></td>
        <td><%= link_to 'Show', organization_list %></td>
        <td><%= link_to 'Edit', edit_organization_list_path(organization_list) %></td>
        <td><%= link_to 'Destroy', organization_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Organization List', new_organization_list_path %>
