<p id="notice"><%= notice %></p>

<p>
  <strong>Orglistid:</strong>
  <%= @organization_list.orgListID %>
</p>

<p>
  <strong>Orgid:</strong>
  <%= @organization_list.orgID %>
</p>

<%= link_to 'Edit', edit_organization_list_path(@organization_list) %> |
<%= link_to 'Back', organization_lists_path %>
