<%= form_with(model: curr_member) do |form| %>
  <% if curr_member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(curr_member.errors.count, "error") %> prohibited this curr_member from being saved:</h2>

      <ul>
        <% curr_member.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :studentID %>
    <%= form.number_field :studentID %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
