<p id="notice"><%= notice %></p>

<h1>Curr Members</h1>

<table>
  <thead>
    <tr>
      <th>Studentid</th>
      <th>Name</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @curr_members.each do |curr_member| %>
      <tr>
        <td><%= curr_member.studentID %></td>
        <td><%= curr_member.name %></td>
        <td><%= curr_member.email %></td>
        <td><%= link_to 'Show', curr_member %></td>
        <td><%= link_to 'Edit', edit_curr_member_path(curr_member) %></td>
        <td><%= link_to 'Destroy', curr_member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Curr Member', new_curr_member_path %>
