<p id="notice"><%= notice %></p>

<p>
  <strong>Studentid:</strong>
  <%= @curr_member.studentID %>
</p>

<p>
  <strong>Name:</strong>
  <%= @curr_member.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @curr_member.email %>
</p>

<%= link_to 'Edit', edit_curr_member_path(@curr_member) %> |
<%= link_to 'Back', curr_members_path %>
