<p id="notice"><%= notice %></p>

<p>
  <strong>Speakerlistid:</strong>
  <%= @speaker_list.speakerListID %>
</p>

<p>
  <strong>Speakerid:</strong>
  <%= @speaker_list.speakerID %>
</p>

<%= link_to 'Edit', edit_speaker_list_path(@speaker_list) %> |
<%= link_to 'Back', speaker_lists_path %>
