<%= form_with(model: member_list) do |form| %>
  <% if member_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(member_list.errors.count, "error") %> prohibited this member_list from being saved:</h2>

      <ul>
        <% member_list.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :memberListID %>
    <%= form.number_field :memberListID %>
  </div>

  <div class="field">
    <%= form.label :memberID %>
    <%= form.number_field :memberID %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
