<p id="notice"><%= notice %></p>

<p>
  <strong>Memberlistid:</strong>
  <%= @member_list.memberListID %>
</p>

<p>
  <strong>Memberid:</strong>
  <%= @member_list.memberID %>
</p>

<%= link_to 'Edit', edit_member_list_path(@member_list) %> |
<%= link_to 'Back', member_lists_path %>
