<p id="notice"><%= notice %></p>

<%= link_to "Sign Out", destroy_current_member_session_path %>
<%= current_current_member.name %>

<title>Organization | TAMU Industry Pharmacists Organization</title>
<h1>Organizations</h1>

<%= render 'organizations/search_form.html.erb' %>

<center>
<table class="styled-table">
  <thead>
    <tr>
      <th><%= sort_link(@q, :organizationID, "Organization ID", {default_order: :asc}, {class: "text-white"}) %></th>
      <th><%= sort_link(@q, :name, "Organization Name", {default_order: :asc}, {class: "text-white"}) %></th>
      <th><%= sort_link(@q, :email, "Organization Email", {default_order: :asc}, {class: "text-white"}) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>
</center>

<center>
  <tbody>
    <% @organizations.each do |organization| %>
      <tr>
        <td><%= organization.organizationID %></td>
        <td><%= organization.name %></td>
        <td><%= organization.email %></td>
        <td><%= link_to 'View', organization, class: "c-button c-button_maroon-ghost-reverse" %></td>
        <% if current_current_member.isAdmin %>
          <td><%= link_to 'Update', edit_organization_path(organization), class: "c-button c-button_maroon-ghost-reverse" %></td>
          <td><%= link_to 'Delete', organization, method: :delete, data: { confirm: 'Are you sure?' }, class: "c-button c-delete" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</center>

<% if current_current_member.isAdmin %>
  <br>
  <center>
  <%= link_to 'New Organization', new_organization_path, class: "c-button c-button_maroon-ghost-reverse" %>
  </center>
<% end %>

<br>
