<p id="notice"><%= notice %></p>

<%= link_to "Sign Out", destroy_current_member_session_path %>
<%= current_current_member.name %>

<title>Organization | TAMU Industry Pharmacists Organization</title>
<h1>Organizations</h1>

<table>
  <thead>
    <tr>
      <th><%= sort_link(@q, :organizationID, "Organization ID", default_order: :asc) %></th>
      <th><%= sort_link(@q, :name, "Organization Name", default_order: :asc) %></th>
      <th><%= sort_link(@q, :email, "Organization Email", default_order: :asc) %></th>
    </tr>
  </thead>

<center>
  <tbody>
    <% @organizations.each do |organization| %>
      <tr>
        <td><%= organization.organizationID %></td>
        <td><%= organization.name %></td>
        <td><%= organization.email %></td>
        <td><%= link_to 'Show', organization %></td>
        <% if current_current_member.isAdmin %>
          <td><%= link_to 'Edit', edit_organization_path(organization) %></td>
          <td><%= link_to 'Destroy', organization, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</center>

<% if current_current_member.isAdmin %>
  <br>

  <%= link_to 'New Organization', new_organization_path %>
  <br>
<% end %>

<br>

<%= link_to 'View Current Members', current_members_path %>

<br>

<%= link_to 'View Member Orgs', member_orgs_path %>

<br>

<%= link_to 'View Speakers', speakers_path %>
