<title>Show Organization | TAMU Industry Pharmacists Organization</title>
<p id="notice"><%= notice %></p>

<p>
  <strong>Organization ID:</strong>
  <%= @organization.organizationID %>
</p>

<p>
  <strong>Organization Name:</strong>
  <%= @organization.name %>
</p>

<p>
  <strong>Orgnaztion Email:</strong>
  <%= @organization.email %>
</p>

<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
