<%= form_with(model: speaker) do |form| %>
  <% if speaker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(speaker.errors.count, "error") %> prohibited this speaker from being saved:</h2>

      <ul>
        <% speaker.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :speakerID %>
    <%= form.number_field :speakerID %>
  </div>

  <div class="field">
    <%= form.label :speakerName %>
    <%= form.text_field :speakerName %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :organizationID %>
    <%= form.number_field :organizationID %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
