<%= form_with(model: speaker) do |form| %>
  <% if speaker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(speaker.errors.count, "error") %> prohibited this speaker from being saved:</h2>

      <ul>
        <% speaker.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :speakerID %>
    <%= form.number_field :speakerID %>
  </div>

  <div class="field">
    <%= form.label :speakerName %>
    <%= form.text_field :speakerName %>
  </div>

  <div class="field">
    <%= form.label :speakerEmail %>
    <%= form.text_field :speakerEmail %>
  </div>

  <div class="field">
    <%= form.label :dateSpoke %>
    <%= form.date_select :dateSpoke %>
  </div>

  <div class="field">
    <%= form.label :organizationName %>
    <%= form.text_field :organizationName %>
  </div>

  <div class="field">
    <%= form.label :speakerWebsite %>
    <%= form.text_field :speakerWebsite %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
