<p id="notice"><%= notice %></p>

<%= link_to "Sign Out", destroy_current_member_session_path %>
<%= current_current_member.name %>

<h1>Speakers</h1>

<%= render 'speakers/search_form.html.erb' %>

<center>
<table class="styled-table">
  <thead>
    <tr>
      <th><%= sort_link(@q, :speakerName, "Speaker Name", {default_order: :asc}, {class: "text-white"}) %></th>
      <th><%= sort_link(@q, :organizationID, "Organization ID", {default_order: :asc}, {class: "text-white"}) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>
</center>

<center>
  <tbody>
    <% @speakers.each do |speaker| %>
      <tr>
        <td><%= speaker.speakerName %></td>
        <td><%= speaker.organizationID %></td>
        <td><%= link_to 'View', speaker, class: "c-button c-button_maroon-ghost-reverse" %></td>
        <% if current_current_member.isAdmin %>
          <td><%= link_to 'Update', edit_speaker_path(speaker), class: "c-button c-button_maroon-ghost-reverse" %></td>
          <td><%= link_to 'Delete', speaker, method: :delete, data: { confirm: 'Are you sure?' }, class: "c-button c-delete" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</center>

<%if current_current_member.isAdmin %>
<br>
<center>
  <%= link_to 'New Speaker', new_speaker_path, class: "c-button c-button_maroon-ghost-reverse" %>
</center>
<br>
<% end %>

  <strong>Speaker Media:</strong>
  <%= link_to 'Speaker Media Drive', "https://drive.google.com/drive/folders/0AIjRbzQwq4TfUk9PVA", class: "c-button c-button_blue-ghost-reverse" %>


<%= link_to 'Jotform', jotform_path, class: "c-button c-button_yellow" %>

