<p id="notice"><%= notice %></p>

<%= link_to "Sign Out", destroy_current_member_session_path %>
<%= current_current_member.name %>

<title>Speakers | TAMU Industry Pharmacists Organization</title>
<h1>Speakers</h1>

<%= render 'speakers/search_form.html.erb' %>
<table>
  <thead>
    <tr>
      <th><%= sort_link(@q, :speakerID, "Speaker ID", default_order: :asc) %></th>
      <th><%= sort_link(@q, :speakerName, "Speaker Name", default_order: :asc) %></th>
      <th><%= sort_link(@q, :organizationID, "Organization ID", default_order: :asc) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @speakers.each do |speaker| %>
      <tr>
        <td><%= speaker.speakerID %></td>
        <td><%= speaker.speakerName %></td>
        <td><%= speaker.organizationID %></td>
        <td><%= link_to 'Show', speaker %></td>
        <% if current_current_member.isAdmin %>
          <td><%= link_to 'Edit', edit_speaker_path(speaker) %></td>
          <td><%= link_to 'Destroy', speaker, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%if current_current_member.isAdmin %>
<br>
  <%= link_to 'New Speaker', new_speaker_path %>
<br>
<% end %>

<p>
  <strong>Speaker Media:</strong>
  <%= link_to 'Speaker Media Drive', "https://drive.google.com/drive/folders/0AIjRbzQwq4TfUk9PVA" %>
</p>

<br>

<%= link_to 'Jotform', jotform_path %>

<br>

<%= link_to 'View Current Members', current_members_path %>

<br>

<%= link_to 'View Member Orgs', member_orgs_path %>

<br>

<%= link_to 'View Organizations', organizations_path %>
