<p id="notice"><%= notice %></p>
<title>Show Speaker | TAMU Industry Pharmacists Organization</title>

<p>
  <strong>Speakerid:</strong>
  <%= @speaker.speakerID %>
</p>

<p>
  <strong>Speakername:</strong>
  <%= @speaker.speakerName %>
</p>

<p>
  <strong>Speakeremail:</strong>
  <%= @speaker.speakerEmail %>
</p>

<p>
  <strong>OrganizationID:</strong>
  <%= @speaker.organizationID %>
</p>

<p>
  <strong>Speakerwebsite:</strong>
  <%= link_to @speaker.speakerWebsite, "http://#{@speaker.speakerWebsite}" %>
</p>

<%= link_to 'Edit', edit_speaker_path(@speaker) %> |
<%= link_to 'Back', speakers_path %>
