<p id="notice"><%= notice %></p>
<title>Show Speaker | TAMU Industry Pharmacists Organization</title>

<p>
  <strong>Speaker ID:</strong>
  <%= @speaker.speakerID %>
</p>

<p>
  <strong>Speaker Name:</strong>
  <%= @speaker.speakerName %>
</p>

<p>
  <strong>Speaker Email:</strong>
  <%= @speaker.speakerEmail %>
</p>

<p>
  <strong>Organization ID:</strong>
  <%= @speaker.organizationID %>
</p>

<p>
  <strong>Speaker Website:</strong>
  <%= link_to @speaker.speakerWebsite, "http://#{@speaker.speakerWebsite}" %>
</p>

<%= link_to 'Edit', edit_speaker_path(@speaker) %> |
<%= link_to 'Back', speakers_path %>
