<p id="notice"><%= notice %></p>

<p>
  <strong>Speakerid:</strong>
  <%= @speaker.speakerID %>
</p>

<p>
  <strong>Speakername:</strong>
  <%= @speaker.speakerName %>
</p>

<p>
  <strong>Speakeremail:</strong>
  <%= @speaker.speakerEmail %>
</p>

<p>
  <strong>Datespoke:</strong>
  <%= @speaker.dateSpoke %>
</p>

<p>
  <strong>Organizationname:</strong>
  <%= @speaker.organizationName %>
</p>

<p>
  <strong>Speakerwebsite:</strong>
  <%= @speaker.speakerWebsite %>
</p>

<%= link_to 'Edit', edit_speaker_path(@speaker) %> |
<%= link_to 'Back', speakers_path %>
